{% extends 'base.html' %}
{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">

        <div>
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-12 about-me" data-aos="fade-in" data-aos-easing="linear">
                        <!-- <h1 class="title has-text-centered section-title">Awards</h1> -->

                        <!-- <h2 class="subtitle">
                            Few awards
                        </h2> -->
                        <br />
                    </div>
                    <div class="columns is-12">

                        <div class="column has-text-centered">
                            <a href="https://www.credly.com/badges/8f07f245-1f85-4163-80ee-2e29d21c5127"
                                target="_blank">
                                <img src="https://images.credly.com/size/120x120/images/68468004-5a85-4f3b-bc58-590773979486/AWS-CloudPractitioner-2020.png"
                                    alt="WS Certified Cloud Practitioner"><br>
                                AWS Certified Cloud Practitioner
                                <hr />
                            </a>
                            <h2>
                                Fundamental understanding of IT services and their uses in the AWS Cloud.
                                Cloud fluency and foundational AWS knowledge.
                                Identify essential AWS services necessary to set up AWS-focused projects.
                            </h2>
                        </div>
                       
                        <!-- <div class="column is-4 has-text-centered">
                            <a href="https://www.credly.com/badges/8f07f245-1f85-4163-80ee-2e29d21c5127"
                                target="_blank">
                                <img src="https://images.credly.com/size/120x120/images/68468004-5a85-4f3b-bc58-590773979486/AWS-CloudPractitioner-2020.png"
                                    alt="WS Certified Cloud Practitioner"><br>
                                AWS Certified Cloud Practitioner
                                <hr />
                            </a>
                            <h2>
                                Fundamental understanding of IT services and their uses in the AWS Cloud.
                                Cloud fluency and foundational AWS knowledge.
                                Identify essential AWS services necessary to set up AWS-focused projects.
                            </h2>
                        </div> -->
                      

                    </div>
                    <hr />
                    <!-- <div class="columns is-12">
                      
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}