{% extends 'base.html' %}
{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">

        <div>
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <!-- <h1 class="title has-text-centered section-title">Awards</h1> -->

                        <!-- <h2 class="subtitle">
                            Few awards
                        </h2> -->
                        <br />
                    </div>
                    <div class="columns is-12">

                        <div class="column has-text-centered">
                            <a href="https://lpi.org/v/LPI000487597/dw6ptf8km6"
                                target="_blank">
                                <img src="/LPIC-1-Medium.png" width="140"
                                    height="140" alt="LPIC-1 Linux Administrator"><br>
                                LPIC-1 Linux Administrator
                                <hr />
                            </a>
                            <h2>
                                <a href="https://www.lpi.org/our-certifications/lpic-1-overview" target="_blank">
                                Ability to perform maintenance tasks on the command line, install and configure a
                                computer running Linux and configure basic networking. <br>
                               </a>
                            </h2>
                        </div>
                        
                        <div class="column has-text-centered">
                            <a href="https://www.credly.com/badges/eddf4144-dc94-4860-b4bf-e0e83efc45c1"
                                target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/6a254dad-77e5-4e71-8049-94e5c7a15981/azure-fundamentals-600x600.png"
                                    alt="Microsoft Certified Azure Fundamentals" width="135" height="135"><br>
                                Microsoft Certified Azure Fundamentals
                                <hr />
                            </a>
                            <h2>
                                Foundational level knowledge of cloud services and how those services are provided with
                                Microsoft Azure.
                            </h2>
                        </div>


                        <div class="column has-text-centered">
                            <a href="https://www.credly.com/badges/b9b9030c-736f-4a7f-bb5d-50ad12d815fb"
                                target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/70eb1e3f-d4de-4377-a062-b20fb29594ea/azure-data-fundamentals-600x600.png"
                                    alt="Microsoft Certified Azure Data Fundamentals" width="135" height="135"><br>
                                Microsoft Certified Azure Data Fundamentals
                                <hr />
                            </a>
                            <h2>
                                Foundational knowledge of core data concepts and how they are implemented using
                                Microsoft Azure data services.
                            </h2>
                        </div>





                        <!-- <div class="column is-4 has-text-centered">
                            <a href="https://www.credly.com/badges/8f07f245-1f85-4163-80ee-2e29d21c5127"
                                target="_blank">
                                <img src="https://images.credly.com/size/120x120/images/68468004-5a85-4f3b-bc58-590773979486/AWS-CloudPractitioner-2020.png"
                                    alt="WS Certified Cloud Practitioner"><br>
                                AWS Certified Cloud Practitioner
                                <hr />
                            </a>
                            <h2>
                                Fundamental understanding of IT services and their uses in the AWS Cloud.
                                Cloud fluency and foundational AWS knowledge.
                                Identify essential AWS services necessary to set up AWS-focused projects.
                            </h2>
                        </div> -->


                    </div>
                    <hr />
                    <div class="columns is-12">


                        
                        <div class="column has-text-centered">
                            <a href="https://www.credly.com/badges/937e8cc2-296b-4a1b-8280-f26fe2f58dad"
                                target="_blank">
                                <img src="https://images.credly.com/size/340x340/images/4136ced8-75d5-4afb-8677-40b6236e2672/azure-ai-fundamentals-600x600.png"
                                    alt="Microsoft Certified Azure AI Fundamentals" width="135" height="135"><br>
                                Microsoft Certified Azure AI Fundamentals
                                <hr />
                            </a>
                            <h2>
                                Foundational knowledge of machine learning (ML) and artificial intelligence (AI)
                                concepts and related Microsoft Azure services.
                            </h2>
                        </div>

                        <div class="column has-text-centered">
                            <a href="https://www.credly.com/badges/8f07f245-1f85-4163-80ee-2e29d21c5127"
                                target="_blank">
                                <img src="https://images.credly.com/size/120x120/images/68468004-5a85-4f3b-bc58-590773979486/AWS-CloudPractitioner-2020.png"
                                    width="135" height="135" alt="AWS Certified Cloud Practitioner"><br>
                                AWS Certified Cloud Practitioner
                                <hr />
                            </a>
                            <h2>
                                Fundamental understanding of IT services and their uses in the AWS Cloud. <br>
                                Cloud fluency and foundational AWS knowledge. <br>
                                Identify essential AWS services necessary to set up AWS-focused projects.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}