{% extends 'base.html' %}
{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">

        <div class="columns">
            <div class="column">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="https://www.usq.edu.au/study/degrees/master-of-information-systems"
                                    target="_blank">
                                    <img src="/unisq-logo.svg" height="15%" width="15%"
                                        alt="University of Southern Queensland">
                                </a>
                                <br><br>
                                <strong>Master of Information Systems</strong>
                                <br> University of Southern Queensland
                                <br> 2017 - 2019
                            </p>
                        </div>
                    </div>
                </article>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="https://www.khec.edu.np/" target="_blank">
                                    <img src="/khec-logo.png"
                                        alt="Khwopa Engineering College">
                                </a>
                                <br><br>
                                <strong>Bachelor in Computer Engineering</strong>
                                <br> Khwopa Engineering College
                                <br> 2009 - 2014
                            </p>
                        </div>
                    </div>
                </article>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="https://ccrc.edu.np/" target="_blank">
                                    <img src="/ccrc-logo.png"
                                        alt="Khwopa College of Engineering">
                                </a>
                                <br><br>
                                <strong>+2 in Science</strong>
                                <br> Capital College and Research Center
                                <br> 2006 - 2008
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
</div>
{% endblock %}