{% extends 'base.html' %}
{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column">
                <div class="block">
                    <figure class="image">
                        <img class="is-rounded" src="https://avatars.dicebear.com/api/bottts/noy.svg">
                    </figure>
                </div>
            </div>

            <div class="column has-text-centered section is-medium">
                <h1 class="title is-1 has-text-grey-darker">Hi, I am Abhishek</h1>
                <h4 class="subtitle is-4 has-text-black">
                    Wer zu Lebzeit gut auf Erden
                    Wird nach dem Tod ein Engel werden
                    Den Blick gen Himmel fragst du dann
                    Warum man sie nicht sehen kann
                    Erst wenn die Wolken schlafen gehen
                    Kann man uns am Himmel sehen
                    Wir haben Angst und sind allein
                    Gott weiß, ich will kein Engel sein
                    Sie leben hinterm Sonnenschein
                    Getrennt von uns unendlich weit
                    Sie müssen sich an Sterne krallen (ganz fest)
                    Damit sie nicht vom Himmel fallen
                    Erst wenn die Wolken schlafen gehen
                    Kann man uns am Himmel sehen
                    Wir haben Angst und sind allein
                    Gott weiß, ich will kein Engel sein
                    Gott weiß, ich will kein Engel sein
                    Gott weiß, ich will kein Engel sein
                </h4>
            </div>



        </div>

    </div>
</div>

{% endblock %}