{% extends 'base.html' %}
{% block content %}

<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column">
                <div class="block">
                    <figure class="image">
                        <img class="is-rounded" src="https://avatars.dicebear.com/api/bottts/noy.svg">
                    </figure>
                </div>
            </div>

            <div class="column has-text-centered  is-small">
                <h1 class="title is-1 has-text-grey-darker">Hi, I am Abhishek</h1>
                <div class="title is-5 has-text-grey-darker">
                    I enjoy meeting new people and hearing on new perspectives. Reach out to me to talk about various
                    emerging technology, tools and software or video games.
                </div>
                <h4 class="subtitle is-6 has-text-black">
                    <div class=" has-text-justified">
                        I love to dig deep into technical problems and solve them with tools and techniques. I like
                        working in cloud and database. I find it amazing how deep these technologies can go, and this
                        encourage
                        me
                        to learn more. I pride myself on being technology lover and lifelong learner.
                        I have enjoyed working with many great people who have supported and encouraged me to move
                        forward
                        throughout my career in project management, change management, network engineering and cloud
                        computing.
                    </div>
                    <br>
                    <div class="content is-6 has-text-justified">
                        My personal and professional experience have taught me that I can:
                        <ul>
                            <li>Successfully deploy, configure and architecture the network infrastructure
                                including cloud
                                services and use network management software and tools to investigate and diagnose
                                network problems,
                                collect performance statistics and create reports, working with users, other staff and
                                suppliers as
                                appropriate.
                            </li>
                            <li>Use database management system software and tools, and knowledge of logical
                                database
                                schemata, to investigate problems and collect performance statistics and create reports
                                including
                                routine configuration, installation, and reconfiguration of database and related
                                products.
                            </li>
                            <li>Assess, analyses, develops, documents and implements changes based on requests
                                for change.</li>
                            <li>Design, codes, verifies, tests, documents, and refactors complex programs/scripts and
                                integration software services. I can also contribute to selection of the software
                                development approach for projects, selecting appropriately from predictive (plan-driven)
                                approaches or adaptive (iterative/agile) approaches.</li>
                        </ul>
                    </div>
                    <br>

                </h4>
            </div>
        </div>

    </div>
</div>

{% endblock %}